.score-container,
.score-container-desktop,
.score-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > p {
    font-weight: $font-weight-medium;

    @media (max-width: $bp-xs-max) {
      font-size: 14px;
      margin-bottom: 1px;
      // margin-top: -20px;
    }

    @media (min-width: $bp-sm-min) and (max-width: $bp-sm-max) {
      margin-bottom: 1px;
    }

    @media (min-width: $bp-md-min) {
      color: $white;
    }

    @media (min-width: $bp-xl-min) {
      font-size: 24px;
    }
  }
}

.score-container-desktop {
  @media (max-width: $bp-xs-max) {
    display: none;
  }
}

.score-container-mobile {
  @media (min-width: $bp-xs-max) {
    display: none;
  }
}

.scoreboard {
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../../images/vectors/ScoreBackground.svg');
  background-size: 100% 100%;

  img {
    display: none;
  }

  p {
    text-align: center;
    font-weight: $font-weight-medium;
    margin-bottom: 0;

    @media (max-width: $bp-sm-max) {
      font-size: 40px;
      padding: 10px 40px;
    }

    @media (min-width: $bp-md-min) {
      font-size: 81px;
      padding: 10px 60px;
    }
  }
}
