.error {
  text-align: center;

  .PrimaryBtn.MuiButtonBase-root {
    margin: 0 auto;
  }

  a {
    .PrimaryBtn.MuiButtonBase-root {
      margin: 0 auto;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.league-invite-full {
  h5 {
    @media (max-width: $bp-lg-max) {
      font-size: 1.75rem;
    }
  }

  a {
    color: $primary;
    font-weight: $font-weight-bold;
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
